.side-image {
    margin-top: 30em;
    text-align: end;
}

@media (max-width:1199px) {
    .side-image {
        margin-top: 0;
    }
}

@media (max-width:992px) {
    .side-image {
        margin-left: 0;
    }
}

@media (max-width:768px) {
    .side-image {
        img {
            transform: scale(0.6);
        }
    }
}


